.navbar{
    list-style-type: none;
  

}



/**********/
.container {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5rem;
  }
  
  .left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .logo {
    margin-right: 5rem;
    margin-left: 2rem;
  }
  
  .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
  }
  
  .navigation > li:hover {
    cursor: pointer;
    color: rgb(221, 221, 221);
  }
  
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right:hover {
    cursor: pointer;
  }
  
  .arrow {
    border: solid #000;
    border-width: 0 0.5rem 0.5rem 0;
    display: inline-block;
    padding: 3px;
    width: 2rem;
    height: 1.5rem;
  }
  
  .left__arrow {
    border-color: #f2994a;
    border-radius: 2px 2px 5px 2px;
    position: relative;
    top: -1rem;
    margin-top: 1rem;
    margin-right: -1.75rem;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .right__arrow {
    border-color: #2d9cdb;
    border-radius: 2px 2px 5px 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }