.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 100vh;
  }
  
  .log__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 18rem;
    background-color: #222222;
  }