.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  
  .input__container {
    display: flex;
    margin-bottom: 2rem;
  }
  
  .input {
    outline: none;
    border: none;
    width: 40rem;
    height: 3rem;
    border: 0.1rem rgb(158, 158, 158) solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .submit__btn {
    outline: none;
    border: none;
    padding: 0.6rem 2rem;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    transition: 0.2s ease-in-out;
  }
  
  .submit__btn:hover {
    cursor: pointer;
    background-color: rgb(29, 29, 29);
  }
  
  .input__container__name {
    display: flex;
    width: 40rem;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 2rem;
  }
  
  .input__name {
    width: 19.5rem;
  }